
  
  .interior_13 .text-blk.section-head {
    line-height: 45px;
    font-size: 60px;
    font-weight:1000;
    color: #7c207f;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-family:serif;

  }
  
  .interior_13 .text-blk {
    margin-top: 0px;
    color: #c2c2c2;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Montserrat Alternates';

  }
  
  .interior_13 a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: inherit;
  }
  
  .interior_13 .card-content {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: inline-block;
    position: absolute;
    left: 4%;
    top: 10%;
    width: 35%; 
    padding: 1px;
    text-align: left;
  }
  
  .interior_13 .text-blk.sub-head {
    font-size: 22px;
    line-height: 35px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
   .btn.interior_13{
    font-family: 'Montserrat Alternates';

  }
  
 
  
.for{
  
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 2rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
        height: 5rem;
        width: 20rem;
		padding: .5rem 1.8rem;
	}
	
  ::placeholder {
    font-family:'Montserrat Alternates';
	font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,textarea {
	font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 1.1rem;
    width: 20rem;
  }

}

.btn.btn-primary {
  font-family:'Montserrat Alternates';
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  margin-right: 160px;
  border-radius: 3rem;
  background-color: #7d377d;
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #821f80ba ;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}
.form-group {
  margin-bottom: 30px;
}
  
  .interior_13 .orange-card {
    border-radius: 20px;
    /* background-color:  #55075428; */
    width: 60%;
    height: 570px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  
  }
  .card-content{
    margin-left: 100px;
  }
  .interior_13 .responsive-container-block.big-container {
    position: relative;
    padding: 0 0 0 0;
  }
.img-sofa3{
  border-radius: 50px;
    width: 700px;
    height: 650px;
    margin-left: 600px;
    padding-top: 60px;
}


